@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    background: #282828;
    color: white;
}

.formGrid {
    margin-top: 30px;
}

.iconBtn {
    padding: 10px;
    color: white;
    border: none;
    background: transparent;
}

.btn {
    padding: 10px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #3500D3;
    font-family: 'Montserrat', sans-serif;
}

.error {
    color: red;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vertical-center-container {
    height: 100px;
    position: relative;
}

.password-modal {
    display: flex;
    justify-content: center;
    background-color: #190061B0;
    border-radius: 10px;
    border: 1px solid #3500D3;
}

.top-right {
    position:absolute;
    top: 25px;
    right: 25px;
}

.passwordCircle {
    font-size: small;
}

/**
    Desktop specific
 */
@media screen and (min-width: 550px) {
    .password-modal {
        width: 50%;
        margin: auto;
        height: 80%;
    }

    .login {
        width: 50%;
        margin: auto;
    }
}