@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    background: #343434;
    color: white;
}

.inputLabel {
    font-size: medium;
    color: white;
}

.formGrid {
    margin-top: 30px;
}

.btn {
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    transition: 0.5s;
}

.btn:hover  {
    box-shadow: 0 0 10px 5px white;
}

.error {
    color: #ff9090;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vertical-center-container {
    height: 100px;
    position: relative;
}

.password-modal {
    display: flex;
    justify-content: center;
    background-color: rgba(52, 52, 52, 0.9);
    border-radius: 10px;
    border: 1px solid white;
}

.top-right {
    position:absolute;
    top: 25px;
    right: 25px;
}

/* for change border color*/
.MuiOutlinedInput-root.Mui-focused.MuiOutlinedInput-notchedOutline{
    border-color: white !important;
}

/*for change label color in focus state*/
.MuiFormLabel-root.Mui-focused{
    color: white !important;
}

.MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputMultiline {
    color: white !important;
}

.MuiOutlinedInput-input {
    color: white !important;
}

/**
    Desktop specific
 */
@media screen and (min-width: 550px) {
    .password-modal {
        width: 50%;
        margin: auto;
        height: 80%;
    }
}