@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


.form-text-input {
    background-color: transparent;
    border: none;
    outline:none;
    border-bottom: 1px solid white;
    width:100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    float: left;
    margin-top: 10px;
}

input::placeholder {
     color: transparent;
}

.form-text-div {
    position: relative;
}

span{
    float: left;
    left: 0;
}

.input-error {
    border-bottom: 1px solid red;
}

.form-text-padding {
    margin: 10%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}